@import "tailwindcss";

:root {
  --second-color: #5c738a;

  --select-item-bg-active: #ffffff;
}
@theme {
  --color-second-color: #5c738a;
  --font-radley: var(--font-radley), serif;
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans), sans-serif;
}

#header-ul li {
  @apply px-2;
}
